/* layout_01_20171120.css */
@charset "utf-8";

/* reset css - 초기설정 */
/* *{margin: 0; padding: 0;
  border: 0; outline: 0;} * 모양은 모두라는 표현이라서 컴퓨터가 느려짐 */
html, body{margin; 0; padding: 0; color: #333} /* 웹상에서는 회색으로 거의 기준을 둔다. */
h1,h2,h3,h4,h5,h6,
p,pre,div{margin:0; padding:0;}
ul,ol,li,dl,dt,dd{margin:0;padding:0; list-style:none;} /* list-style: 불립 기호가 없다. */
a{text-decoration:none; color:#f0a;} /* 링크에 대한 설정 */
a:hover{text-decoration:underline; font-weight: bold;} /* 마우스 오버시 테스트에 밑줄 및 굵게  */
img{border:0;} /* border:0; = boder:none; 같은말 */

header, section, footer, aside, article, nav, main, figure {display:block;} /* 익스에서는 호환이 안되므로 강제로 선언 해주는것 */

/*  
header : 웹페이지의 상단에 위치 전체의 내용을 총괄하는 영역
section : 본문내용을 뜻하며, 작은 웹페이지의 영역 
(내부에는 다시 header, footer, section, aeticle...)
footer : 웹페이지의 가장 하단에 위치(꼭 그렇지는 않다.), 웹페이지의 정보(회사정보, 주소)를 담는곳
aside : 있으면 좋고, 없어도 크게 불편하지 않는 영역, 있어도 없어도되는 영역
article : 본문의 내용을 뜻하며, section과 유사하지만 좀더 깊은 의미를 지닌 내용을 담을때 (내부에는 다시 header, footer, section, aeticle...) 사용가능
nav : 네비게이션의 약자로 주로 메뮤 영역을 사용할때 쓰는 영역
main : 전체를 뜻하는 의미의 코드, 현재는 아직 많이 사용 하지 않는다.
figure : img코드를 감쌀때 쓰는 영역(img 담는 태그), figcaption(이미지 설명)코드와 함께 사용 한다.
template : html 문서를 분리해서 사용할때 쓰는 코드(기본문에서는 사용하지 않음)  
*/


/* common */
.clearfix::after{content:" "; display: block; clear: both;} /* 오페라 규정으로 "" 사이가 떨어져야되므로 " "이렇게 한다. */

  
/* design */
body{background-color: #05a;}

  #box{width: 600px; height: auto;/* 자식들이 배경색(backgroung-color)과 높이(height)가 지정되어있으므로 따로 지정 안해도된다. */
       /*background-color: #afa;*/
       margin: 50px auto;}
/* #headBox ----------------------------------- */
  #headBox{width: 100% /*600px*/; height: 100px;
         background-color:#faa;}
/* #contentBox -------------------------------- */
  #contentBox{width: 100% /*600px*/; height: auto;
            background-color:#fa0;}
/*#contentBox::after{content:" "; display: block; clear: both;}*/
    #sideArea{width: 40%;height: 300px; float: left; background-color: #cfa;}
    #contentArea{width: 60%;height: 300px; float: left; background-color: #ccc;}
/* 옆으로 나열을 하기 위해서는 float를 써야된다. */
/* #footBox ----------------------------------- */
  #footBox{width: 100% /*600px*/; height: 100px;
         background-color:#0af;}
